body{

margin:0;
padding:0;
font-family:Arial;
background:#0f172a;
color:white;

}

.container{

max-width:700px;
margin:auto;
padding:30px;

}

.topo{

text-align:center;
margin-bottom:30px;

}

.topo h1{

color:#f97316;
font-size:34px;

}

.topo p{

color:#94a3b8;

}

.card{

background:#1e293b;
padding:30px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,0.4);

}

input,
select,
textarea{

width:100%;
padding:15px;
margin-bottom:20px;
border:none;
border-radius:12px;
background:#334155;
color:white;
font-size:16px;
box-sizing:border-box;

}

textarea{

height:120px;

}

button{

width:100%;
padding:18px;
background:#f97316;
border:none;
border-radius:12px;
font-size:18px;
font-weight:bold;
color:white;
cursor:pointer;

}

button:hover{

background:#ea580c;

}

#status{

margin-top:20px;
text-align:center;
font-size:16px;

}